/* borders */
$primary-border: 1px solid $secondary-color;
$secondary-border: 1px solid $primary-color;
$blue-border: 1px solid $accent-color;

/* border radius */
$primary-radius: 1rem;
$secondary-radius: 0.5rem;
