.GamePage {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 80vh;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 800px;
  padding: 1.5rem;
  position: relative;
}
