.NotFound {
  align-items: center;
  background-color: #ffffff; 
  background-image: url("../../assets/wintery-sunburst.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;

  main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 80vw;
    width: 600px;
  }

  h1,
  p {
    text-align: center;
    color: var(--sonic-fur);
  }

  img {
    filter: drop-shadow(0 0 30px rgba(31, 19, 90, 0.687));
    width: 400px;
    margin-bottom: 1rem;
    max-width: 80vw;
  }

  button {
    align-items: center;
    background-color: var(--sonic-fur);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;

    &:hover {
      filter: brightness(120%);
    }

    span {
      font-size: 1.3rem;
      font-weight: 300;
    }

    .NotFound-button-icon {
      align-items: center;
      display: flex;
      font-size: 2rem;
      height: 30px;
      justify-content: center;
      margin-right: 0.5rem;
      width: 30px;
    }
  }
}
