.CardList {
  background-attachment: fixed;
  background-image: url('../assets/background.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 6rem;
  width: 100%;
}

.Card-list-header {
  align-items: center;
  background-color: var(--sonic-fur);
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.CardList-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.CardList .Card {
  filter: drop-shadow(0 0 15px rgb(46, 79, 117));
  margin: 2rem;
}

@media screen and ( max-width : 400px ) {

  .CardList .Card {
    margin: 2rem 0;
  }
}
