.CardMini {
  background-color: var(--sonic-light-red);
  border: 8px solid var(--sonic-shoes);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  height: 165px;
  justify-content: flex-end;
  margin: 0.5rem;
  position: relative;
  width: 100px;

  &:hover {
    filter: brightness(120%);
  }

  .CardMini-trunfo-icon {
    color: var(--sonic-eyes);
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
  }

  .CardMini-img {
    height: 84px;
    margin-bottom: 0.8rem;
    object-fit: contain;
    object-position: center;
    width: 84px;
  }

  .CardMini-attr-container {
    background-color: var(--sonic-fur);
    border-radius: 0.4rem;
    display: flex;
    width: 100%;
  }

  .CardMini-attr {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 40px;
    padding-bottom: 0.2rem;
    padding-top: 1.4rem;
    position: relative;
    width: 28px;
  }

  .CardMini-attr-icon {
    align-items: center;
    background-color: white;
    border: 2.5px solid var(--sonic-fur);
    border-radius: 0.3rem;
    color: var(--sonic-shoes);
    display: flex;
    font-size: 1.2rem;
    height: 27px;
    justify-content: center;
    position: absolute;
    top: -7px;
    transform: skew(-10deg);
    width: 28px;
  }

  .CardMini-attr-value {
    color: var(--sonic-yellow);
    font-size: 0.8rem;
  }
}
