.ResultsMessage {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  width: 100%;

  img {
    height: 200px;
    object-fit: contain;
    width: 200px;
  }

  p {
    color: var(--sonic-fur);
    font-size: 2rem;
    text-align: center;
  }
}
