.SearchBar {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: center;
  max-width: 800px;
  overflow: hidden;
  padding: 1rem;
  transition: 400ms;
  transition-property: padding;

  input, select {
    border: 1px solid var(--sonic-fur);
    border-radius: 0.3rem;
    font-family: Lato , sans-serif;
    font-size: 0.9rem;
    margin-left: 1rem;
    padding: 0.5rem;
  }
  
  select {
    background-color: var(--sonic-light-blue);
    min-width: 120px;
  }

  label {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .SearchBar-name-container {
    align-items: center;
    display: flex;
  
    input {
      flex-grow: 1;
      width: 300px;
    }
  
    .SearchBar-filter-icon {
      color: var(--sonic-light-blue);
      font-size: 2rem;
    }  
  }
  
  .SearchBar-trunfo-label {
    align-items: center;
    flex-direction: row-reverse nowrap;
    margin-left: 1rem;
    width: 180px;
  
    .SearchBar-trunfo-icon {
      align-items: center;
      color: var(--sonic-eyes);
      display: flex;
      font-size: 2rem;
      height: 30px;
      justify-content: center;
      margin-right: 0.8rem;
      width: 30px;
    }
  }
}

.SearchBar-hidden {
  height: 0;
  padding: 0 1rem;

  * {
    display: none;
  }
}

@media screen and ( max-width : 672px ) {

  .SearchBar {
    align-items: stretch;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 0;
    width: 100%;

    input, select {
      margin-left: 0;
    }
  }

  .SearchBar-filter-icon {
    margin-right: 0.8rem;
  }

  .SearchBar-name-container, .SearchBar-rarity {
    margin-bottom: 0.8rem;
    transition: 400ms;
    transition-property: height;
  }

  .SearchBar-name-container input, .SearchBar-rarity {
    flex-grow: 1;
  }


  .SearchBar-trunfo-label {
    align-self: center;
    margin-bottom: 0.8rem;
    margin-left: 0;
    padding: 0 1.8rem;
    transition: 400ms;
    transition-property: height;
    width: 300px;

    .SearchBar-trunfo-icon {
      margin-right: 0;
    }
  }
}

@media screen and ( max-width : 410px ) {

  .SearchBar {
    width: 300px;
  }
}
