.App {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.App-title {
  color: var(--sonic-fur);
  font-size: 1.8rem;
  margin-top: 1rem;
}

.App-form-container {
  align-items: center;
  border-bottom: 2px solid var(--sonic-fur);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.App-card-preview {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2.2rem 1.9rem;
}

@media screen and ( min-width : 750px ) {

  .App-form-container {
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: center;
  }
}
